:root {
    --primary-text-color: #fff;
    --secondary-background-color: #014b80;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-color);
    background-image: url('img/Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.navbar {
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color) !important;
    padding: 20px 0;
    text-align: center;
}

.nav-item {
    color: var(--primary-text-color)
}

.jumbotron {
    background: transparent;
    background-size: 200% 200%;
    margin-top: 120px;
    padding: 60px 0;
    color: #000;
    font-family: 'Nova Square', sans-serif;
    text-align: center;
}

.home-heading {
    margin-top: 50px;
    font-size: 50px;
    color: #000;
}

#changing-heading {
    font-size: 70px;
}

.container.mt-4 {
    padding: 20px;
    color: var(--primary-text-color);
}

.justify {
    text-align: justify;
}

.clickable-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    height: 100%;
    
}

.clickable-card:hover {
    transform: scale(1.05);
}

.card-body {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    height: 200px;
}

.card-title {
    margin: 0;
}

.alert-card,
.white-background-card {
    transition: transform 0.2s ease-in-out;
    height: 200px;
}

.alert-card:hover,
.white-background-card:hover {
    transform: scale(1.05);
}

.footer {
    background-color: var(--secondary-background-color);
    color: var(--primary-text-color);
    padding: 20px 0;
    text-align: center;
}
